body {
  background-color: lightblue;
}
h1 {
  color: black;
  text-align: center;
}
p {
  font-style: italic
}
h1 {
 border-style: solid
}
p {
  font-size: 110%
}
h1 {
  border-color: red
}
p {
  border-style: double
}
